*{
       margin: 0;
       padding: 0;
       font-family: 'poppins',sans-serif;
       box-sizing: boarder-box;

}
    <body>{
    background: #080808;
    color:#fff;}
    #header{
   width: 100%;
   height:100vh;
background-image: url(semu/css.jpg);
background-size:cover;
background-position:center;
}
.container{
    padding:10px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-brtween;
 flex-wrap;}


nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20;

}
nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size: 18px;
    position: relative;
}
nav ul li a:::after{
    content:'';
    width: 0%;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s ;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text {
    font-size: 30px;
    margin-top:15px;
    
}

.header-text h1 span{
    color:#ff004f;
}
#about{
    padding:80px 0;
    color:#4b1e1e;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap;
}
.about=col-1{
    flex-basis: 35%;


}

.about-col-1 img{
    width: 100%;
    border-radius: 15%px;   }
    .about-col-2{
        flec-basis: 60p%x;

    } 
    .sub title{
        font-size:60px;
        font weight: 600;
        color:#fff;

    }
.tab-title{
    display:flex;
    margin: 20px 0 40px;
}
.tab-links{

    margin-right:50px;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    position:relative;

}
.tab-links::after{
   content: '';
   width: 0;
   heght: 3px;
   background: #fff004f;
   position:absolute;
left:0px
bottom: -8px;
transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50px;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{

        color:#fff004;
        font-size 14px;
    }
.script{
    background-color: #4b1e1e;
}
</body>